#body-grid{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;

}

.body-game{
    width:170px;
    height:300px;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    align-items:flex-end;
    justify-content:space-between;
    margin:10px;
    /* border-bottom:2px solid blue; */
    padding-bottom: 10px;
    align-self:center;
}

.body-game b{
    align-self:center;
}

.have-want-buttons{
    display:flex;
    justify-content:center;
    color:black;
    align-self:center;

}




.body-img{
    align-self:center;
}