#body-container{
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    /* background-color:gray;
    padding-top:30px;
    margin-top:-30px;
    z-index:-100; */
    /* grid-template-rows:25% 25% 25% 25%;
    grid-template-columns:1.5fr 3fr 1.5fr;
    column-gap:10%;
    margin-top:40px; */
    
}

.left-logo{
    float:left;
}

.red-logo{
    color: #da291c;
    float:right;
}

#body-container h1{
    font-size:100px;

}

/* #left-grid-header{
    grid-column:1;
    grid-row:1;
}

.active-members{
    border-left:2px solid lightgray;
    padding-left:40px;
    padding-right:40px;

} */

/* .trade-block{
    border-right:2px solid lightgray;
    padding-right:40px;
    padding-left:40px;


} */


#center-grid{
margin-left:auto;
margin-right:auto;
width:500px;
display:block;
clear:both
}

/* #right-grid{

    grid-column:3;
    grid-row:1;
} */